{% extends "base.html" %}

{% block title %}MyPage{% endblock %}
{% block content %}
<h1>マイページ</h1>

<div>会員登録情報</div>
{{ request.user.last_name }}{{ request.user.first_name }}
<a href="{% url 'mypage_update' %}">ユーザー情報変更</a>
{% if is_premium %}
<a href="{% url 'favorite_list' %}"><div>お気に入り一覧</div></a>
<a href="{% url 'reservation_list' %}"><div>予約一覧</div></a>
<a href="{% url 'portal' %}">サブスクリプションの設定をする</a>
{% else %}
<form action="{% url 'checkout' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="有料会員登録をする">
</form>
{% endif %}
<a href="{% url 'account_logout' %}"><div>ログアウト</div></a>

{% endblock %}