.user_name div{
    font-size:2rem;
}

/* message_area------------------------------ */
.notify_message_area{
    position:fixed;
    width:100%;
    top:0;
    left:0;
}
.notify_message{
    color:white;
    padding:1rem;
    margin:1rem;
    border-radius:0.5rem;

    display:flex;

    background:deepskyblue;
}
.notify_message_success{
    background:rgb(123, 228, 123);
}
.notify_message_error{
    background:rgb(248, 56, 94);
}
.notify_message_content {
    width:calc(100% - 2rem);
    font-size:1.25rem;
}
.notify_message_delete {
    cursor:pointer;
    width:2rem;
    transition:0.2s;
}
.notify_message_delete i{
    font-size:1.5rem;
}
.notify_message_delete:hover{
    color:black;
    transition:0.2s;
}



/* allauth 設定 --------------------------------*/
.allauth_body{
    margin:0;
    position:relative;
    height:100vh;
}

.body_area {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.body_area_inner{
    padding:1rem;
    border:solid 0.2rem orange;
}
.allauth_body h1 {
    text-align:center;
}

.allauth_body input[type="text"],input[type="password"],input[type="email"]{

    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    font-size: 1rem;
    color: #495057;
    background: white;
    border: 1px solid orange;
    border-radius: .25rem;

    box-sizing: border-box;
}

.allauth_body button{
    display:block;
    width:100%;
    margin:0.5rem 0;
    font-size: 1rem;
    background:white;
    border: 1px solid orange;
    cursor:pointer;
    transition:0.2s;

    padding:0.5rem;

    line-height: 1.5;

    user-select: none;
    text-align: center;
    vertical-align:middle;
}
.allauth_body button:hover{
    background:orange;
    transition:0.2s;
}
